.mdl-layout,
.content-page .intro-bg {
    background: #3580C2 url('../images/bg1080.jpg') center / cover;
}
@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    .mdl-layout,
    .content-page .intro-bg { background-image: url("../images/bg720.jpg"); }
}
@media only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    .mdl-layout,
    .content-page .intro-bg { background-image: url("../images/bg480x2.jpg"); }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    .mdl-layout,
    .content-page .intro-bg { background-image: url("../images/bg720.jpg"); }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, retina */
    .mdl-layout,
    .content-page .intro-bg { background-image: url("../images/bg720x2.jpg"); }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    .mdl-layout,
    .content-page .intro-bg { background-image: url("../images/bg1080x2.jpg"); }
}



.mdl-layout .mdl-layout__header,
.mdl-layout .mdl-layout__drawer-button {
    color: white;
    background-color: rgba(0,0,0,.5);
}
.home-page .mdl-layout .mdl-layout__drawer-button .material-icons {
    line-height: inherit;
}

.home-page .mdl-layout .mdl-layout__content {
  background-color: rgba(0,0,0,.5);
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro  {
  box-shadow: 0 0 400px rgba(0,0,0,.4);
}

.intro h1,
.intro h2 {
  color: #F2DE48;
  font-size: 2em;
  line-height: normal;
  text-align: right;
  margin: 0.2em 0;
  letter-spacing: 0.6px;
  font-weight: 200;
}

.intro h2 {
  letter-spacing: 0px;
}

.intro h1 .dot {
  color: #3580C2;
}


.content-page .mdl-layout .mdl-layout__header {
  height: 400px;
  background-color: transparent;
}

.content-page .intro {
  width: 200px;
}
.content-page .mdl-layout .mdl-layout__content {
  background-color: #f8f8f8;


}

.content-page .intro-container {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: rgba(0,0,0,.5);
  border-bottom: 5px solid #3580C2;
  z-index: 2;
  position: relative;
}
.content-page .intro-container a {
  display: block;
}
.content-page .intro {
  box-shadow: none;
}
.content-page .intro h1,
.content-page .intro h2 {
  font-size: 1.5em;
}
.content-page .intro-bg {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  background-color: #3580C2;
  z-index: 1;
}

.content-page .content-center {
  margin: 0 auto;

}
