.button {
	display: inline-block;
	min-width: 200px;

	margin: 0 10px;
	padding: 16px;

	text-align: center;
	font-size: 20px;
	font-weight: 600;

	border: 2px solid;
	border-radius: 2px;
	box-sizing: border-box;
	cursor: pointer;

	color: $blue;
	border-color: $blue;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
}

.button.large {
  font-size: 24px;
  padding: 16px 24px;
}

.button.bordered:hover {
	background: rgba(255, 255, 255, .02);
}

.button.yellow {
	background: $yellow;
	border-color: $yellow;
	color: $black;
	font-weight: 700;
}

.button.blue {
	background: $blue;
	border-color: $blue;
	color: #fff;
}

.button.red {
	background: $red;
	border-color: $red;
	color: #fff;
}



.button.bordered {
	background: rgba(255, 255, 255, 0);
  font-weight: 600;
}

.button.bordered.blue {
	border-color: $blue;
	color: $blue;
}

.button.bordered.yellow {
	border-color: $yellow;
	color: $yellow;
}

.button.bordered.green {
	border-color: $green;
	color: $green;
}

.button.bordered.red {
	border-color: $red;
	color: $red;
}
