/*
	menu mogotti fancy csillanas
*/
@mixin menubg {
	&:hover {
		background: rgba(255, 255, 255, .07);
		text-decoration: none;
	}

	&:before {
		display: block;
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		opacity: 0;
		border-style: solid;
		border-width: 80px 0 0 80px;
		border-color: rgba(255, 255, 255, .03) transparent transparent transparent;

		transition: opacity .2s ease-out;
		transition-delay: .1s;
	}

	&:hover:before {
		opacity: 1;
	}
}


#header {
	color: $white;
	z-index: 10;
	position: relative;
}

#logo {
	display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
	position: relative;
	margin-top: 3px;
}

#logo .burger {
	display: none;
}
#header {
	height: 80px;

	.social {
		display: none;
	}
}


.social {
	height: 80px;
	position: absolute;
	top: 0;
	right: 0;

	a {
		height: 80px;
		width: 80px;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		text-indent: -9999px;
		z-index: 10;
		position: relative;
		transition: background .2s ease-out;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 28px;
			height: 28px;
			top: 26px;
			left: 24px;
			background-image: url(/images/social.png);
			background-size: auto 100%;
		}

		&.facebook::after {
			background-position: -28px 0;
		}

		&:hover {
			background: rgba(255, 255, 255, .07);
		}

		@include menubg;

	}
}

nav {
	position: absolute;
	width: 100%;
	height: 80px;
	z-index: 11;

	div {
		max-width: 980px;
		margin: 0 auto;

		span {
 			display: none;
 		}

		ul {
			display: inline-block;
			line-height: 80px;
			margin: 0;
			padding-left: 0;
			vertical-align: top;

			&:first-of-type {
				margin-left: 30px;
				padding-left: 40px;
			}

			li {
				position: relative;
				display: inline-block;
				padding: 0 15px;
				font-style: 1.05em;
				cursor: pointer;
				overflow: hidden;
				vertical-align: top;
				font-weight: 400;

				transition: background .2s ease-out;

				a {
					color: $white;
					text-decoration: none;
					display: inline-block;
					width: 100%;
					position: relative;
					z-index: 10;


					&:hover {
						text-decoration: none;
					}
				}

				@include menubg;
			}
		}
	}
}


@include media('<tablet') {

	#header {
		height: 60px;
	}

	#header .social {
		height: 60px;
		display: inline-block;

		a {
			height: 60px;
			width: 60px;

			&::after {
				top: 18px;
				left: 16px;
			}
		}
	}

	nav {
		background: #20201F;
		height: auto;
		width: auto;

		.social {
			display: none;
		}

		div {
			span {
				color: $gray;
				text-transform: uppercase;
				display: inline-block;
				padding: 16px 0 0 32px;
			}

			ul,
			ul:first-of-type  {
				padding: 0;
				margin: 16px 0;
				display: block;
				line-height: 10px;

				li {
					display: inline-block;
					width: 220px;
					font-size: 1.2em;
					padding: 10px 0;
					border-bottom: 1px solid #303030;
					margin-right: 16px;
	    		padding-left: 32px;
					line-height: 24px;

					&:last-child {
							border-bottom: none;
					}

					a {
						color: $white;
					}
				}
			}
		}
	}

	nav,
	.cbp-spmenu {
		position: fixed;
	}
	nav,
	.cbp-spmenu-vertical {
		width: 260px;
		height: 100%;
		top: 0;
		z-index: 1000;
	}

	nav,
	.cbp-spmenu,
	body,
	main,
	.cbp-spmenu-push {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	nav,
	.cbp-spmenu-left {
		left: -260px;
	}

	nav.cbp-spmenu-open,
	.cbp-spmenu-left.cbp-spmenu-open {
		left: 0px;
	}

	body.cbp-spmenu-push-toright {
		left: 260px;
		overflow: hidden;
	}

	body,
	.cbp-spmenu-push {
		overflow-x: hidden;
		position: relative;
		left: 0;
	}
	main {
		left: 0;
	}
	.cbp-spmenu-push-toright main {
		position: fixed;
		left: 260px;
	}



	#header .nav {
		display: none;
	}

	#header svg {
		display: none;
	}

	#logo .burger,
	#logo .burger::after,
	#logo .burger::before {
		width: 28px;
		height: 2px;
		background: $white;
		display: block;
		position: absolute;
		border-radius: 1px;
	}

	#logo .burger {
		left: 14px;
		top: 29px;

		&::after,
		&::before {
			content: '';
			left: 0;
		}

		&::before {
			top: -10px;
		}
		&::after {
			top: 10px;
		}
	}
}
