@import '_include_media';
@import 'colors';

body {
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $black;
	font-weight: 300;
}

body {
  width: 100%;
  height: 100%;
}

@include media('<desktop') {
	body {
		font-size: .8em;
	}
	small.date {
		font-size: .6em;
	}
}


.clr:after {
  content: "";
  display: table;
  clear: both;
}

.content,
.content.speaker {
	margin: 0 auto;
	margin-bottom: 40px;
	max-width: 980px;
}

.nowrap {
	white-space: nowrap;
}

small.date {
	font-size: .7em;
	color: gray;
}

.text-centered {
	text-align: center;
}

.text-lead {
	font-size: 30px;

	span {
		display: inline-block;
		max-width: 570px;
	}
}

@include media('<tablet') {

	.text-lead {
		font-size: 20px;

		span {
			max-width: 100%;
		}
	}
}



h1, h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	margin: 0;
}

h3, h4, h5 {
	font-weight: 600;
	margin: 0;
}

.content h2 {
	color: $blue;
}

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	text-decoration: none;
	color: $blue;
	font-weight: 600;
}

a {
	font-weight: 400;
}

a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
	text-decoration: underline;
}

b, strong {
	font-weight: 600;
}

/* BUTTONS */
@import 'buttons';


.blue {
	color: $blue;
}
.yellow {
	color: $yellow;
}


#cfpform {
	margin-top: 20px;
}

@include media('<tablet') {
	#cfpform {
		margin-top: 20px;
		width: 100%;
		height: 2700px;
	}
}



/* HEADER */
@import 'header';

/* TOP */
@import 'top';

/* CONTENT */

#content {
	padding: 50px 0;
	font-size: 1.5em;
}

.news p {
	margin-bottom: 60px;
}
.content blockquote {
	margin-bottom: 40px;
	font-style: italic;
	border-left: 4px solid $blue;
	margin-left: 0;
	padding-left: 40px;
}

.content blockquote cite {
	font-size: 14px;
	display: block;
	text-align: right;
	padding-top: 16px;
}

@include media('<tablet') {
  #content {
  	padding: 50px 0;

		p, h2, h3, h4, h5, small {
			margin-left: 10px;
			margin-right: 10px;
		}
  }

	.content blockquote {
		margin-left: 10px;
	}
}


@import 'section-header';

// SPEAKERS
@import 'speakers';

// Budapest guide
@import 'bpguide';

@import 'full-content';

@import 'footer';
