

.sponsor-list {
    padding: 0;
    text-align: center;

    li {
        list-style-type: none;
        display: inline-block;
        margin-bottom: 30px;
        box-sizing: border-box;

        &.level-platinum,
        &.level-gold,
        &.level-silver {
          display: block;
          text-align: center;
        }

        &.level-supporter {
          padding: 10px 15px 0;
        }

        a {
          display: inline-block;
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-position: top center;
          background-size: 100% auto;
          cursor: pointer;

        //  background-color: $green;
        }

        &.level-platinum a {
          width: 550px;
          height: 160px;
        }

        &.level-gold a {
          width: 460px;
          height: 140px;
        }

        &.level-silver a {
          width: 400px;
          height: 120px;
        }
        &.level-silver.sponsor-jsfiddle a { height: 160px; }

        &.level-supporter a {
          width: 280px;
          height: 110px;
        }

        @include media('<tablet') {
          &.level-platinum a {
            width: 360px;
            height: 120px;
          }

          &.level-gold a {
            width: 310px;
            height: 110px;
          }

          &.level-silver a {
            width: 280px;
            height: 130px;
          }
          &.level-silver.sponsor-jsfiddle a { height: 110px; }
          
          &.level-supporter a {
            width: 140px;
            height: 64px;
          }
        }
    }
}

.sponsor-mozilla a { background-image: url(/images/sponsors/mozilla.png) }
.sponsor-euedge a { background-image: url(/images/sponsors/euedge.png) }
.sponsor-risingstack a { background-image: url(/images/sponsors/risingstack.png) }
.sponsor-docler a { background-image: url(/images/sponsors/doclerholding.png) }
.sponsor-npm a { background-image: url(/images/sponsors/npm.png) }
.sponsor-ibmwatson a { background-image: url(/images/sponsors/ibmwatson.png) }
.sponsor-dynatrace a { background-image: url(/images/sponsors/dynatrace.png) }
.sponsor-google a { background-image: url(/images/sponsors/google.png) }
.sponsor-zalando a { background-image: url(/images/sponsors/zalando.png) }
.sponsor-jsfiddle a { background-image: url(/images/sponsors/jsfiddle.png) }
